@using FinderCore
@model User
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to tattoo parlor website</h1>
    <p class="align-content-center">You are Logged in as:</p>
    <h2>@Model.Name</h2>
    <h2>@Model.email</h2>
</div>