@using FinderCore
@using System.Collections.ObjectModel 
@model ObservableCollection<Country> 

@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

@foreach (var item in Model)
	{
		 <p>@item.Name</p>
	}

<p>Use this page to detail your site's privacy policy.</p>
