<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="FinderEntities" connectionString="metadata=res://*/SqlConn.csdl|res://*/SqlConn.ssdl|res://*/SqlConn.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=B88584B4D6F3\SQL_001;initial catalog=Finder;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>