<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="FinderEntities"
         connectionString="metadata=res://*/SqlConn.csdl|res://*/SqlConn.ssdl|res://*/SqlConn.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-1V386L9U;initial catalog=finder;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>